@media (max-width: 5000px) {
    body {
        height: 100%;
        width: 100%;
        background: none;
    }
    .imgScroll{
        transition: all 2s;
        -moz-transition: all 2s; /* Firefox 4 */
        -webkit-transition: all 2s; /* Safari 和 Chrome */
        -o-transition: all 2s; /* Opera */
    }

    #back {
        margin-left: 240px;
        position: fixed;
        width: 100%;
        background-image: url(../img/resume.jpg);
        background-size: 100%;
        height: 100%;
    }

    #top {
        top: 0;
        width: 100%;
        margin-left: 240px;
        position: fixed;
        background: none;
    }

    #tree {
        background-color: #333;
        width: 240px;
        height: 100%;
        position: fixed;
        text-align: left;
        overflow-y: auto;
        top: 0;
    }

    #content {
        margin-bottom: 0;
        margin-left: 240px;
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .myTable {
        width: 239px;
    }

    .myTable tr {
        width: 50%;
        color: #ffffff;
        background-color: #333;
    }

    .myTable tr:hover {
        cursor: default;
    }

    .myTable td {
        border: solid 1px #30412f;
        padding: 14px 4px 14px 4px;
    }

    .headTitle {
        padding: 4px 4px 4px 4px;
        margin-bottom: 8px;
        background: #132637;
        height: 30px;
        width: 240px;
        border-left: solid 5px #2F64F9;
        color: #c7c9d3;
    }

    .list-group li {
        background: none;
        border: none;
    }

    .treeA {
        padding-left: 20px;
        line-height: 30px;
        display: block;
        transition: height 0.5s;
        background-color: #333;
        width: 100%;
        height: 30PX;
        border-left: solid #1299aa 3px;
    }

    .treeA:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: #000000;
        width: 100%;
        height: 50PX;
        line-height: 50px;
    }

    .treeA:link {
        text-decoration: none;
    }

    .circleDiv {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 20px auto;
    }

    .nameDiv {
        position: absolute;
        top: 99px;
        left: 135px;
        background-color: #3f5e9e;
        font-size: 14px;
        border: solid 4px #333;
        cursor: default;
    }

    .Glyphicons{
        display: block;
        positIon:absolute;
        bottom:0;
        display:block;
        width:100%;
        height:30px;
        background:#333;
        padding:5px 0 5px 10px;
    }
    .displayMark{
        display: none;
    }
    .backgroundHide{
        background: none;
    }

}

@media (max-width: 767px) {

    #back {
        margin-top: 140px;
        margin-left: 0px;
        position: fixed;
        width: 100%;
        background-image: url(../img/resume.jpg);
        background-size: 100%;
        height: 100%;
    }

    #top {
        top: 200px;
        width: 100%;
        position: fixed;
        background: none;
        margin-left: 0;
    }

    #tree {
        background-color: #333;
        width: 100%;
        height: 140px;
        position: fixed;
        text-align: left;
        overflow: hidden;
        z-index: 200;
    }

    #content {
        z-index: 100;
        margin-left: 0px;
        margin-bottom: 0;
        position: absolute;
        top: 340px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .circleDiv {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 20px;
        float: left;
    }

    .nameDiv {
        position: absolute;
        top: 99px;
        left: 85px;
        background-color: #3f5e9e;
        font-size: 14px;
        border: solid 4px #333;
        cursor: default;
        float: left;
    }

    .myTable {
        display: none;
    }

    .treeA {
        display: none;
    }

    .Glyphicons{
        display: none;
    }

    .displayMark{
        display: block;
    }
    .backgroundHide{
        background: none;
    }

    .dd1{
     transition: all 1s;
     -moz-transition: all 1s; /* Firefox 4 */
     -webkit-transition: all 1s; /* Safari 和 Chrome */
     -o-transition: all 1s; /* Opera */
     height:100px;
     width:100px;
     background:#3CC38C;
     border-radius: 10%;
     position: absolute;
     right: 30px;
     top: 20px;
 }
 .aInfo{
    padding-top: 25px;
    background-color: #000000;
    height:90px;
    width:90px;
    display: block;
    border-radius: 10%;
    position: absolute;
    top: 25px;
    right: 35px;
    color: #ffffff;
    text-align: center;
    padding: 0 auto;
}
.aInfo:hover{
    color: #D9EDF7;
    text-decoration: none;
}
.aInfo:link{
    color: #D9EDF7;
    text-decoration: none;
}
.timeAll{
    top:20px;
    font-size:20px;
    color:#ffffff;
    margin-left:10px;
    margin-top:20px;
    float:left;
    background: #12d4a5;
    border: 4px solid #000000;
}
.timeSS{
    border: 4px solid #000000;
    top:20px;
    font-size:20px;
    color:#ffffff;
    margin-left:10px;
    margin-top:20px;
    float:left;
    transition: all 0.2s;
    -moz-transition: all 0.2s; /* Firefox 4 */
    -webkit-transition: all 0.2s; /* Safari 和 Chrome */
    -o-transition: all 0.2s; /* Opera */
    background: #12d4a5;
}

}