@media (max-width: 5000px) {
    body {
        height: 100%;
        width: 100%;
        background: none;
    }

    #back {
        margin-left: 240px;
        position: fixed;
        width: 100%;
        background-image: url(../img/resume.jpg);
        background-size: 100%;
        height: 100%;
    }

    #top {
        width: 100%;
        margin-left: 240px;
        position: fixed;
        background: none;
    }

    #tree {
        background-color: #333;
        width: 240px;
        height: 100%;
        position: fixed;
        text-align: left;
        overflow-y: auto;
    }

    #content {
        margin-bottom: 0;
        margin-left: 240px;
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .myTable {
        width: 239px;
    }

    .myTable tr {
        width: 50%;
        color: #ffffff;
        background-color: #333;
    }

    .myTable tr:hover {
        cursor: default;
        background-color: #000000;
    }

    .myTable td {
        border: solid 1px #30412f;
        padding: 14px 4px 14px 4px;
    }

    .headTitle {
        padding: 4px 4px 4px 4px;
        margin-bottom: 8px;
        background: #132637;
        height: 30px;
        width: 240px;
        border-left: solid 5px #D7322B;
        color: #c7c9d3;
    }

    .list-group li {
        background: none;
        border: none;
    }

    .treeA {
        padding-left: 20px;
        line-height: 30px;
        display: block;
        transition: height 0.5s;
        background-color: #333;
        width: 100%;
        height: 30PX;
        border-left: solid #1299aa 3px;
    }

    .treeA:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: #000000;
        width: 100%;
        height: 50PX;
        line-height: 50px;
    }

    .treeA:link {
        text-decoration: none;
    }

    .circleDiv {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 20px auto;
    }

    .nameDiv {
        position: absolute;
        top: 99px;
        left: 135px;
        background-color: #3f5e9e;
        font-size: 14px;
        border: solid 4px #333;
        cursor: default;
    }

    .smallTreeTable {
        display: none;
    }
    .Glyphicons{
        display: block;
        positIon:absolute;
        bottom:0;
        display:block;
        width:100%;
        height:30px;
        background:#333;
        padding:5px 0 5px 10px;
    }

}

@media (max-width: 767px) {

    #back {
        margin-top: 140px;
        margin-left: 0px;
        position: fixed;
        width: 100%;
        background-image: url(../img/resume.jpg);
        background-size: 100%;
        height: 100%;
    }

    #top {
        top: 200px;
        width: 100%;
        position: fixed;
        background: none;
    }

    #tree {
        background-color: #3e4b3e;
        width: 100%;
        height: 140px;
        position: fixed;
        text-align: left;
        overflow: hidden;
        z-index: 200;
    }

    #content {
        z-index: 100;
        margin-left: 0px;
        margin-bottom: 0;
        position: absolute;
        top: 340px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .circleDiv {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 20px;
        float: left;
    }

    .nameDiv {
        position: absolute;
        top: 99px;
        left: 85px;
        background-color: #3f5e9e;
        font-size: 14px;
        border: solid 4px #3e4b3e;
        cursor: default;
        float: left;
    }

    .myTable {
        display: none;
    }

    .treeA {
        display: none;
    }

    .Glyphicons{
        display: none;
    }
}